.passions {
    max-width: 800px;
    margin: 30px auto;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
  
}

.passions h2 {
    color: pink; 
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    border-bottom: 2px solid pink; 
    
    padding-bottom: 5px;
}



.passions li {
    background-color:lightblue; 
    margin: 12px 0;
    padding: 15px;
    border-radius: 10px;
    color: #333; 
    font-size: 16px;
   
}

.passions li:hover {
    background-color: pink; 
   
}


